@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uncut-Sans-Regular";
  src: url("../fonts/Uncut-Sans-Regular.otf");
}

@font-face {
  font-family: "Carena-Regular";
  src: url("../fonts/Carena-Regular.otf");
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
